 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/dbdfndgmdgm.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-size: 3.75rem;
  letter-spacing: 19px;
  margin: 245px 69px 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 187px;
    font-size: 6rem;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 140px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 88px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("https://www.esri.com/content/dam/esrisites/en-us/landing-pages/digital-transformation/2023-update/dt-banner.jpg");
  background-position: 50% 50%;
  min-height: 1534px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1190px;
  margin: 32px calc(((100% - 1140px) / 2) + -52px) 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 505px;
  --radius: 50px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/programmin-1536x778.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 505px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 23px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: -358px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 0 auto 40px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 19.5px);
  grid-template-columns: calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px);
  min-height: 719px;
  grid-gap: 26px 26px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-15 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-17 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  padding: 16px 0 16px 20px;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.375rem;
  width: 187px;
  margin: 89px auto 0;
}

.u-section-2 .u-text-19 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1176px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 19.5px));
    min-height: 588px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1079px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13px);
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 1888px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1392px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-19 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1195px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    min-height: 300px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  min-height: 871px;
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  width: 544px;
  margin: 0 calc(((100% - 1140px) / 2) + 298px);
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
  min-height: 447px;
  grid-gap: 24px 24px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px 7px;
}

.u-section-3 .u-text-2 {
  margin: 4px 7px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 13px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px 7px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 4px 7px 0;
}

.u-section-3 .u-text-5 {
  margin: 0 13px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px 7px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 4px 7px 0;
}

.u-section-3 .u-text-7 {
  margin: 0 13px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 30px 7px;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 4px 7px 0;
}

.u-section-3 .u-text-9 {
  margin: 0 13px;
}

.u-section-3 .u-text-10 {
  font-size: 3rem;
  letter-spacing: 30px;
  margin: 96px calc(((100% - 1140px) / 2) + 278px) 60px calc(((100% - 1140px) / 2) + 262px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 198px);
    margin-right: calc(((100% - 940px) / 2) + 198px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18px));
    min-height: 363px;
  }

  .u-section-3 .u-text-2 {
    width: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: 587px;
    margin-right: calc(((100% - 940px) / 2) + 178px);
    margin-left: calc(((100% - 940px) / 2) + 162px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 88px);
    margin-right: calc(((100% - 720px) / 2) + 88px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 312px;
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 68px);
    margin-left: calc(((100% - 720px) / 2) + 52px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-10 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-10 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}